body
{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    padding: 1rem
}
.nav.item{
    margin: 0 1rem;
    list-style: none;
}
.nav-item:first-child{
    margin-right: auto;
    padding: 5px;
}
h1{
    margin-top: 10px;
    margin-left: 45px;
    font-size: 50px;
    color: black;
}
.nav-item a{
    text-decoration: none;
    transition: all 200ms easy in;
}
a:hover{
    color: white;
}
p{
    margin-top: 0rem;
    margin-left: 1rem;
}
.vl{
    margin-right: 16rem;
    border-left: 3px solid black;
    height: 500px;
}
.class {
	text-align: center;
}
.avatar {
    margin-top: 40px;
    margin-left: 80px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.btn-group {
    width: 200px;
    margin-left: 50px;
}
.liki{
    width: 279px;
}
.nimi{
    width: 279px;
}
.p{
    margin-right: 200px;
}